*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

}

.header{
  font-size: 1.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: rgb(26, 20, 20);
  margin: 30px;
}

.question-answer-card{
  
  width: 800px;
  margin: 20px auto;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.796);padding: 20px;
  border-radius: 20px;
  color: rgb(10, 138, 72);
}

.question{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer{
  margin: 20px;
  font-size: 1.5rem;
  color: rgb(33, 29, 29);
  text-align: justify;
  font-weight: 500;
}

.answer img{
  width: 100%;
}

@media (max-width: 800px) {

  .header{
      font-size: 0.7rem;
  }
  
  .question-answer-card{
      width: 90%;
      padding: 5px;
      font-size: 0.7rem;
  }
  
  .answer{
      margin: 10px;
      font-size: 1.2rem; 
  }
}

