*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(45deg, #16367c 0%, #25aed4 100%);
}

.header{
  font-size: 1.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: rgb(26, 20, 20);
  margin: 30px;
}

.question-answer-card{
  background-color: rgb(219, 226, 232);
  width: 800px;
  margin: 20px auto;
  box-shadow: 4px 4px 30px;
  padding: 20px;
  border-radius: 10px;
  color: rgb(10, 138, 72);
  -webkit-box-shadow: -1px 9px 5px 8px rgba(58,87,74,0.49);
-moz-box-shadow: -1px 9px 5px 8px rgba(58,87,74,0.49);
box-shadow: -1px 9px 5px 8px rgba(58,87,74,0.49);
}

.question{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer{
  margin: 20px;
  font-size: 1.5rem;
  color: rgb(33, 29, 29);
  text-align: justify;
  font-weight: 500;
}

.answer img{
  width: 100%;
}

@media (max-width: 800px) {

  .header{
      font-size: 0.7rem;
  }
  
  .question-answer-card{
      width: 90%;
      padding: 5px;
      font-size: 0.7rem;
  }
  
  .answer{
      margin: 10px;
      font-size: 1.2rem; 
  }
}

